body {
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 98%);
    margin: 0;
    padding: 0;
}

.main {
    background-color: #fff;
    width: 30%;
    margin: 20px auto;
    border-radius: 15px;
    padding-bottom: 10px;
}

#hero {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description {
    margin: auto;
    width: 70%;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-weight: 900;
}

.description > p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    /* width: 70%; */
}

.price-section {
    display: flex;
    justify-content:space-between;
    align-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 5px 20px;
    background-color:rgb(240, 235, 235);
    border-radius: 5px;
}
.price-section-one {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.price-section img {
    margin-top: 18px;
    height: 50%;
    padding: 0 5px;
}
.price-section-two p {
    font-size: 0.9em;
}
.price-section-three{
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1em;
    color: blue;
}
.price-section-three:hover {
    cursor: pointer;
    text-decoration: none;
    color:rgb(105, 46, 173);
}
.pricing {
    padding-top: 20px;
    color: hsl(224, 23%, 55%);
}

#payment {
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    width: 80%;
    font-weight: 700;
    margin: 30px auto;
    padding: 15px 0;;
    display: block;
    border-radius: 10px;
    box-shadow: -10px 20px rgb(253, 251, 251);
    border: none;
}

#payment:hover {
    cursor: pointer;
    background-color:rgb(105, 46, 173);
    color: #fff;
}

#cancel {
    color: hsl(224, 23%, 55%);
    background-color: inherit;
    border: none;
    margin: 30px auto;
    display: block;
    font-weight: 900;
}

#cancel:hover {
    cursor: pointer;
    color: #000;
}

.attribution {
    bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}

@media (max-width: 375px) {
    .main {
        width: 90%;
    }
}